html, body{
    background-color: #f6f6f3;
}

.container-total {
    background-color: #f6f6f3;
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */

}

.rodape-fixo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    color: #9c9c9c;
}


.input-p2{
    width: 90%;
    border-radius: 10px;
    border: 1px solid #bcbcbc;
    padding: 15px;
}
.btn-clonar-p2{
    width: 90%;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    padding: 13px;
    margin-top: 20px;
    background-color: #2bd066;
    font-size: 20px;
    transition: 0.3s;
}

.btn-clonar-p2:hover{
    background-color: #138c7e;
}

.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    color: #9c9c9c;
    z-index: 999;
}
.btn-aceitar-cookies{
    background-color: #2bd066;
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.btn-aceitar-cookies:hover{
    background-color: #138c7e;
}

.caixa {
    width: 90%;
    padding: 15px;
    background-color: #dbf6c4;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    margin: 10px auto;
    transition: opacity 0.5s ease;

}
.caixa img {
    width: 35px;
}
.caixas-flutuantes{
    margin-bottom: 100px;
}
.input-p2:focus {
    border: 2px solid #2bd066;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}




@media (max-width: 576px) {
    .img1-icone-menu-p1{
        height: 20px;
    }
    .img2-icone-menu-p1{
        height: 50px;
    }
    .img3-icone-menu-p1{
        height: 40px;
    }
    .h2-p1{
        font-size: 20px;
    }
    .h5-p2{
        margin-top: 20px;
        font-size: 17px;
        color: #6c6c6c;
        font-weight: 400;
    }
    .caixa-verde-p1 img {
        height: 60px;
    }
    .texto-btn{
        font-size: 17px;
    }
    .caixa{
        font-size: 12px;
    }

}


@media (min-width: 768px) {
    .img1-icone-menu-p1{
        height: 20px;
    }
    .img2-icone-menu-p1{
        height: 50px;
    }
    .img3-icone-menu-p1{
        height: 40px;
    }
    .h2-p1{
        font-size: 40px;
    }
    .h5-p2{
        margin-top: 20px;
        font-size: 21px;
        color: #6c6c6c;
        font-weight: 400;
    }
    .caixa-verde-p1 img {
        height: 60px;
    }

}


@media (min-width: 992px) {
    .img1-icone-menu-p1{
        height: 20px;
    }
    .img2-icone-menu-p1{
        height: 50px;
    }
    .img3-icone-menu-p1{
        height: 40px;
    }
    .h2-p1{
        font-size: 40px;
    }
    .h5-p2{
        margin-top: 20px;
        font-size: 21px;
        color: #6c6c6c;
        font-weight: 400;
    }
    .caixa-verde-p1 img {
        height: 60px;
    }

}


@media (min-width: 1200px) {
    .img1-icone-menu-p1{
        height: 20px;
    }
    .img2-icone-menu-p1{
        height: 50px;
    }
    .img3-icone-menu-p1{
        height: 40px;
    }
    .h2-p1{
        font-size: 40px;
    }
    .h5-p2{
        margin-top: 20px;
        font-size: 21px;
        color: #6c6c6c;
        font-weight: 400;
    }
    .caixa-verde-p1 img {
        height: 70px;
    }

}


@media (min-width: 1400px) {
    .img1-icone-menu-p1{
        height: 20px;
    }
    .img2-icone-menu-p1{
        height: 50px;
    }
    .img3-icone-menu-p1{
        height: 40px;
    }
    .h2-p1{
        font-size: 40px;
    }
    .h5-p2{
        margin-top: 20px;
        font-size: 21px;
        color: #6c6c6c;
        font-weight: 400;
    }
    .caixa-verde-p1 img {
        height: 70px;
    }
}