.open-modal {
    padding: 7px 7px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: start;
    border: 1px solid #bcbcbc;
    width: 100%;
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    /* Fade effect */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.modal.visible {
    opacity: 1;
    visibility: visible;
}



.close {
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.cor-verde {
    background-color: #26d366;
}
.cor-verde-texto {
    color: #26d366;
}
.cor-cinza-texto {
    color: #9c9c9c;
}
.cor-verde-escuro-texto{
    color: #128c82;
}
.texto-size-p4{
    font-size: 17px;
}
.open-modal img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 60%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.modal-dialogo{
    height: 350px;
    overflow-y: auto;
    background-color: #e5ddd5;
}
.modal-rodape {
    background-color: #f0f0f0;
    color: #98a2a3;
}
.balao-braco{
    background-color: white;
    width: 80%;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}
.balao-verde{
    background-color: #dcf8c6;
    width: 80%;
    padding: 10px;
    border-radius: 10px 0 10px 10px;
}
.balao-braco small{
    font-size: 12px;
    color: #98a2a3;
}
.balao-verde small{
    font-size: 12px;
    color: #98a2a3;
}

.imagem-perfil-chat {
    width: 75px;
    height: 75px;
    object-fit: cover;
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 60%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.btn-desbloquear{
    background-color: #26d366;
    border-radius: 50px;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    box-shadow: 0 4px 12px rgba(38,211,102, 0.3);
    transition: .1s;

}
.btn-desbloquear:hover{
    background-color: #138c7e;
    transform: translateY(-2px);
}

.botao-fixado:hover{
    background-color: #138c7e;
    transform: translateY(-2px);
}

.chat-aberto-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
    display: none;
    /* Transição para transformação (deslize) */
    transition: transform 0.3s cubic-bezier(.4,0,.2,1), opacity 0.2s;
    transform: translateX(-100%);
    opacity: 0;
}
.chat-aberto-container.open {
    display: block;
    /* Começa invisível fora da tela à esquerda */
    transform: translateX(0);
    opacity: 1;
    /* Garante sobreposição */
    box-shadow: 0 0 8px rgba(0,0,0,0.04);
}

.area-conversas{
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #e5ddd5;
}


@media (max-width: 767px) {
    .botao-fixado {
        position: fixed;
        bottom: 0;
        left: 9%;
        z-index: 1000;
        margin: auto;
        background-color: #26d366;
        border-radius: 50px;
        color: white;
        padding: 10px;
        border: none;
        box-shadow: 0 4px 12px rgba(38,211,102, 0.3);
        transition: .1s;
    }
    .modal-content {
        background-color: #fff;
        width: 70%;
        position: relative;
    }
}


@media (min-width: 768px) {
    .botao-fixado {
        position: fixed;
        bottom: 0;
        left: 30%;
        z-index: 1000;
        margin: auto;
        background-color: #26d366;
        border-radius: 50px;
        color: white;
        padding: 10px;
        border: none;
        box-shadow: 0 4px 12px rgba(38,211,102, 0.3);
        transition: .1s;
    }
    .modal-content {
        background-color: #fff;
        width: 50%;
        position: relative;
    }
}


@media (min-width: 992px) {
    .botao-fixado {
        position: fixed;
        bottom: 0;
        left: 35%;
        z-index: 1000;
        margin: auto;
        background-color: #26d366;
        border-radius: 50px;
        color: white;
        padding: 10px;
        border: none;
        box-shadow: 0 4px 12px rgba(38,211,102, 0.3);
        transition: .1s;
    }
    .modal-content {
        background-color: #fff;
        width: 35%;
        position: relative;
    }
}


@media (min-width: 1200px) {
    .botao-fixado {
        position: fixed;
        bottom: 0;
        left: 40%;
        z-index: 1000;
        margin: auto;
        background-color: #26d366;
        border-radius: 50px;
        color: white;
        padding: 10px;
        border: none;
        box-shadow: 0 4px 12px rgba(38,211,102, 0.3);
        transition: .1s;
    }
    .modal-content {
        background-color: #fff;
        width: 25%;
        position: relative;
    }
}


@media (min-width: 1400px) {
    .botao-fixado {
        position: fixed;
        bottom: 0;
        left: 40%;
        z-index: 1000;
        margin: auto;
        background-color: #26d366;
        border-radius: 50px;
        color: white;
        padding: 10px;
        border: none;
        box-shadow: 0 4px 12px rgba(38,211,102, 0.3);
        transition: .1s;
    }
    .modal-content {
        background-color: #fff;
        width: 25%;
        position: relative;
    }
}